header {
	height: 80px;
	background-color: #666f7f;
	position: relative;
	text-align: center;
	box-shadow: 0 8px 20px -4px rgba(0,0,0,.4);
	z-index: 2;
}

header .logo {
	position: absolute;
	top: -10px;
}

header .links {
	line-height: 80px;
}

header .links a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: .1em;
	color: #a1afc4;
}

header .links a:hover {
	color: white;
}

header .menuicon {
	color: white;
	font-size: 1.7em;
	position: absolute;
	top: 23;
	right: 10;
	display: none;
}