body, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}

.logo {
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28347a+13,31489d+44 */
	background: #28347a; /* Old browsers */
	background: -moz-linear-gradient(top, #28347a 13%, #31489d 44%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #28347a 13%,#31489d 44%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #28347a 13%,#31489d 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28347a', endColorstr='#31489d',GradientType=0 ); /* IE6-9 */
	text-align: center;
	line-height: 100px;
	color: #666f7f;
	font-size: 6.7em;
	text-decoration: none;
	text-shadow: text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.logo::after {
	content: "S";
}

.logo.small {
	transform: scale(.5);
}

h1 {
	text-transform: uppercase;
	color: white;
	font-size: 7em;
	/* left: 55%;
	font-size: 7em;
	text-transform: uppercase;
	color: white;
	transform: translateX(-45%);
	z-index: 10; */
}