.projects {
	height: 100vh;
	background-color: #454a5b;
}

.projects .content {
	top: 50%;
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	transform: translateY(-50%);
}

.projects .gallery {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.projects .gallery a {
	display: block;
	width: 33.3vw;
	height: 33.3vw;
	background-color: darkgrey;
	border: 1px solid black;
}

.projects .gallery a:after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transition: all .5s;
}

.projects .gallery a:hover:after {
	background-color: rgba(0,0,0,0.5);
}

.projects .fantasyPuntAnalyzer {
	background-image: url(../images/fantasyPuntAnalyzer.jpg);
	background-size: cover;
}

.projects .antiSocialNetwork {
	background-image: url(../images/antiSocialNetwork.png);
	background-size: cover;
	background-position: center;
}

.projects .albumOrganizer {
	background-image: url(../images/albumOrganizer.png);
	background-size: cover;
	background-position: center;

}